/* PAGE RESET */

* {
    padding: 0;
    margin: 0;
    }
    
    html, body {
        margin:0; padding:0;
        min-width: 100%;
    }

/* HEADER */

.header-navbar {
    background-color: #2e1521;
}

.header-navbar .navbar-toggler {
    background-color: #E0CFD8;
    border: none;
}

.header-navbar .nav-link {
    background-color:#2e1521;
    color: #B8B0B4 !important;
    text-align: center;
    border-radius: 3px;
    margin: 5px;
    ;
}

.header-navbar .nav-link.active {
    box-shadow: 0 0 1em rgba(184, 176, 180, 0.3)
    ;
}

@media (min-width: 768px) {
    .header-navbar .nav-link{
        margin: 0 5px;
    }
}

/* BANNER HOME */

.banner-home {
    color: #E0CFD8;
    text-align: center;
    align-items: center;
    justify-content:center;
}

@media (min-width: 768px) {
    .banner-home > div:first-child {
        flex: 1 1 60%;
    }
}

/* FOOTER */

.footer {
    background-color:#2e1521;
    color: #E0CFD8; 
}

html, body, #root {
    height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
}

#root > main {
    flex: 1;
}

/* BODY */

body {
    background: linear-gradient(
    180deg,
    rgba(172, 51, 99, 0.9) 0%, rgba(135, 52, 104, 0.9) 100%);
    background-attachment:fixed;
}

@media (min-width: 768px) {

    body {
        background: linear-gradient(
        90deg,
        rgba(135, 52, 104, 0.9) 0%, rgba(172, 51, 99, 0.9) 100%);
        background-attachment: fixed, scroll;
    }
}

.grid-video-item .card-video {
    height: 100%
}
.grid-video-item .card-video .card-body{
    display: flex;
    flex-direction: column;
}